* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.main {
  margin: 64px auto 64px;
  width: 626px;
  padding: 0 55px;
 
}
.main__content {
  margin-bottom: 32px;
}



h1 {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;

  margin-bottom: 16px;
}

h1 strong {
  color: #EE24FF;;
}

.main__content p {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
.main__content p + p {
  margin-top: 30px;
}
p span {
  color: #828282;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

p strong {
  font-weight: 700;
  color: #3F3D56;
}

.line {
  margin: 0 auto;
  border: 1px solid #ECEFF2;
  width: 391px;
  margin-bottom: 16px;
}


.links a {
  text-decoration: none;
  color: #3F3D56;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 147.68%;
}
.links a+a {
  margin-left: 42px;
}

.footer__img {
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 0;
}